<div class="sticky-top">
  <ul class="list-group" *ngIf="category$ | async as categories">
    <a class="list-group-item list-group-item-action" [class.active]="!selectedCategory" [routerLink]="['/Products']">All Categories</a>
    <a *ngFor="let category of categories" [class.active]="selectedCategory === category.$key " [routerLink]="['/Products']" [queryParams]="{category:category.$key}"
      class="list-group-item list-group-item-action">
      {{category.name}}
    </a>
  </ul>
</div>
