/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
 @import "~swiper/dist/css/swiper.css";


body {
  width:100%;
  padding-top: 80px;
}


$primary-color: #8e44ad;
$primary-color-hover: #7b15a7;

body {
  padding-top: 80px;
}

h1, h2, h3 {
  margin-bottom: 1.5rem;
}

.navbar {
  border-bottom: 3px solid #e7e7e7;
}

.navbar-light .navbar-brand {
  color: $primary-color;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: $primary-color-hover;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn-primary:hover {
  background-color: $primary-color-hover;
  border-color: $primary-color-hover;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: $primary-color;
  border-color: $primary-color;
}

.form-control:focus {
  border-color: $primary-color;
}

.dropdown-item:hover {
  background-color: $primary-color;
  color: #fff;
  transition: 0.2s;
}
.list-group-item.list-group-item-action.active:hover {
  background-color: $primary-color-hover;
  transition: 0.2s;
}

.nav-link .fa {
  margin: auto;
  padding: 0;
  vertical-align: bottom;
  font-size: 20px;
}
.nav-link .navFixes {
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
}
