
<div id = "browseText" >
  <a (mouseenter) = "changeIcon()"  [routerLink]="['/Products']"><h3>Browse Categories
    <i  *ngIf="icon==true" class= 'fa fa-apple'aria-hidden="true"></i>
    <i *ngIf = "icon==false"  class = 'fa fa-leaf' aria-hidden ="true"></i>
  </h3>
  </a>
</div>
<div id= "carouselExample" style="width:85%;border:2px solid black;">
  <carousel [sources]="imageSources" [config]="config"></carousel>
</div>
<h2 class = "arrivalsHeader">Fresh Arrivals</h2>

<div class= "swiper-container"style="width:100%;background-color:whitesmoke">
<swiper [config]="config" > 
  <div class = "slider-img">
    <img src = '../../assets/unsplash_images/tomato.jpg'>
  </div>
  <div class = "slider-img"><img src ='../../assets/unsplash_images/orange.jpg'></div>
  <div class =  "slider-img"><img src ='../../assets/unsplash_images/strawberries.jpg'></div>
  <div class =  "slider-img"><img src ='../../assets/unsplash_images/meat.jpg'></div>
  <div class = "swiper-pagination"></div>
</swiper>

<div class="swiper-button-prev"></div>
<div class="swiper-button-next"></div>

</div>
